body {
	position: relative;

	--__color-text: var(--gray-8);
	--__color-button: var(--gray-4);
	--__color-button-border: var(--gray-5);
}

.SieboldiiToolbar {
	position: fixed;
	top: var(--size-8);
	z-index: var(--layer-important);

	width: 100%;
	display: flex;
	justify-content: center;
	gap: var(--size-2);

	opacity: 30%;

	transition-duration: 200ms;
	transition-timing-function: ease-out;
	transition-property: opacity;
	will-change: opacity;
}

.SieboldiiToolbar:hover,
.SieboldiiToolbar:focus-within {
	opacity: 100%;
}

.SieboldiiToolbar button {
	padding: var(--size-2) var(--size-3);
	border-style: solid;
	border-width: var(--border-size-1);
	border-radius: var(--radius-4);

	color: var(--__color-text);
	background-color: var(--__color-button);
	border-color: var(--__color-button-border);

	transition-duration: 200ms;
	transition-timing-function: ease-out;
	transition-property: color, background-color, border-color;
	will-change: color, background-color, border-color;

	outline-offset: var(--size-1);
}

.SieboldiiToolbar button:hover {
	--__color-button: var(--gray-3);
	--__color-button-border: var(--gray-5);
}

@media screen and (prefers-color-scheme: dark) {
	body {
		--__color-text: var(--gray-5);
		--__color-button: var(--gray-10);
		--__color-button-border: var(--gray-8);
	}
}
